/* ==UserStyle==
@name           wa.streamer profile
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

.user-css .statblock { /* might need to change this .statblock might be too far reaching */
	border: 0;
	background: none;
}

.main-topic {
	font-weight: 800;
	background: #7a0000;
}

.broadcaster-proile dd {
	text-indent: 0em; 
	margin-left: 10px;
}

.asc-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bbox {
	margin: 14px;
}