<div class="broadcaster-profile">
<div class="row">
	<div class="broadcast-bio profile-col col-sm-5">
		<!-- -------------BROADCASTING iNFO------------- -->
		<div class="broadcast-topics bbox">
		{% if variables.topic_main is defined %}
			<h4>Broadcast Topics</h4>
			<dd> <span class="main-topic">{{ variables.topic_main}}</span>{% if variables.topics_other_worldbuilding is defined %}, {{ variables.topics_other_worldbuilding}} </dd>
			{% endif %}
		{% endif %}</div>
		<div class="broadcast-info bbox">
		{% if variables.broadcasting_info is defined %}
			<h4>Channel Summary</H4>
			<dd> {{ variables.broadcasting_info}} </dd>
		{% endif %}</div>
	</div>
	<div class="profile-col col-sm-4">
		<!-- -------------SOCIAL MEDIA------------- -->
		<!-- -------------NAMEs ------------- -->
		<div class="broadcast-names bbox">
		{% if variables.also_known_as is defined %}
			<h4>Also Known As</h4>
			{{ variables.also_known_as}}
		{% endif %}</div>
		<div class="broadcast-discord-id bbox">
		{% if variables.discordid is defined %}
			<h4>Catch Me on Discord</h4>
			<dd> {{ variables.discordid}} </dd>
		{% endif %}</div>
		<div class="broadcast-stream-chan bbox">
		{% if variables.twitch_channel is defined %}
			<h4>Channels</h4>
			<a href="{{ variables.twitch_channel}}"><img src="https://www.worldanvil.com/uploads/images/c446badd51e6dc7b0ce7b7921f34e6a4.png" alt="Twitch" width="30" height="30"></a>
		{% endif %}{% if variables.youtube_channel is defined %}
			<a href="{{ variables.youtube_channel}}"><img src="https://www.worldanvil.com/uploads/images/1f3affbda93279061f59c16410fc7011.png" alt="Youtube" width="30" height="30"></a>
		{% endif %}</div>
		<!-- {% if variables.other_chanel is defined %}
			<dt>Other Channel</dt>
			<dd> {{ variables.other_chanel}} </dd>
		{% endif %} //-->
		<div class="broadcast-community bbox">
		{% if variables.discord_invite is defined %}
			<h4>Join the Community</h4>
			<a href="{{ variables.discord_invite}}"><img src="https://www.worldanvil.com/uploads/images/d0ebaff439f74575b1ab0d5504f5c070.png" alt="Youtube" width="30" height="30"></a>
		{% endif %}</div>
		<div class="broadcast-website bbox">
		{% if variables.website_1 is defined %}
			<h4>Visit My Website</h4>
			<a href="{{ variables.website_1}}">{{ variables.website_1}} </a>
		{% endif %}
		{% if variables.website_2 is defined %}
			<a href="{{ variables.website_2}}">{{ variables.website_2}} </a>
		{% endif %}</div>
		<div class="broadcast-merch bbox">
		{% if variables.merchandise_link_1 is defined %}
			<h4>Check Out My Merchandise</h4>
			<a href="{{ variables.merchandise_link_1}} ">{{ variables.merchandise_link_1}} </a>
		{% endif %}
		{% if variables.merchandise_link_2 is defined %}
			<a href="{{ variables.merchandise_link_2}} ">{{ variables.merchandise_link_2}} </a>
		{% endif %}</div>
	</div>
	<div class="profile3 col-sm-2">
		<!-- -------------PROFILE IMAGE + ASC LOGO------------- -->
		<div class="broadcast-profile-image bbox">
		{% if variables.profile_image is defined %}
			<div> [img:{{ variables.profile_image }}|nolink] </div>
		{% endif %}</div>
		<div class="broadcast-asc-logo bbox">
		<img class="asc-logo" src="https://www.worldanvil.com/uploads/images/fc8efc4e31e686f133e771bdfa0cbe1a.png" alt="ASC 	Network Logo" width="112" height="112" margin-left="auto" margin-right="auto"></div>
	</div>
	</div>
	<div class="broadcast-cal-frame bbox">
		<!-- -------------CALENDAR------------- -->
        {# ---------- Use split to allow display in any time zone? -------------------- #}
		{% if variables.google_calendar_link is defined %}
			<h4>Streaming Calendar</h4>
			UTC: -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 +1 +2 +3 +4 +5 +6 +7 +8 +9 +10 +11
			{% if variables.timezone is defined %}
				<dt>Timezone: {{ variables.timezone}} </dt>
			{% endif %}
			<iframe class="broadcast-cal" src="{{ variables.google_calendar_link}}&mode=WEEK&amp;showCalendars=0&amp;showTitle=0" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
		{% endif %}
	</div>
</div>