 {
background: #222;
padding: 20px;
border-radius: 10px;
}
 .broadcaster-profile-badge {
	--pb-charcoal: #222 ;
	--pb-white: #eee ;
	--pb-butter: #f5e296 ;
	--pb-light-grey: #cccccc ;
	--pb-grey: #55555550 ;
	--pb-yellow-orange: #e3ad00 ;
	--pb-red: #930000 ;
	display: block ;}
 .broadcaster-profile-badge h1,  .broadcaster-profile-badge dt {
	color: var(--pb-white) ;}
 .broadcaster-profile-badge .broadcaster-name h2 {
	font-size: 1.8em ;	
	color: var(--pb-red) ;
	text-decoration: underline ;
	text-align: left ;
	text-transform: uppercase ;
	margin-bottom: 25px ;}
 .broadcaster-profile-badge .asc-logo {
	margin-top: 30px ;	
	margin-right: 20px ;}
 .broadcaster-profile-badge dt {
	font-size: 1em ;
	color: var(--pb-butter) ;
	margin-top: 10px ;}
 .broadcaster-profile-badge dd {
	font-size: 1em;
	color: var(--pb-light-grey) ;
	margin-left: 10px;}
 .broadcaster-profile-badge .phrase-key {
	font-size: 1em;
	color: var(--pb-yellow-orange) ;}
 .broadcaster-profile-badge .phrase-value {
	font-size: 1em;}
 .broadcaster-profile-badge a{
	color: var(--pb-yellow-orange) ;}
 .broadcast-badge-deets {
	display: block;}